<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" type="x-icon" href="/static/logo/S-logos_white.png">
</head>

<body>
    <nav id="navbar">
        <div class="nav-first">
            <ul class="first">
                <li><a href="/views/index.ejs">Journey</a></li>
            </ul>
            <ul class="second">
                <li><a href="/views/migame.ejs">Application</a></li>
                <li><a href="/views/path.ejs">Path</a></li>
                <li><a href="/views/about.ejs">Contact</a></li>
            </ul>

        </div>
        <section id="introSection">
            <div class="intro-first">Start Collecting Knowlegde About</div>
            <div class="intro-second">Gaming & studies</div>
        </section>
    </nav>

    <section id="intro">
        <div class="intro">
            <div class="intro-image"></div>
            <div class="intro-content">
                <div class="intro-ab">About ~~</div>
                <div class="intro-about">
                    Journey is a way through a senior can share some good and important
                    information as well as guidance about some specific topic which can help fresh junior
                    to learn that topic and start their journey to learn more in deep.
                </div>
                <div class="intro-miss">Our Mission ~~</div>
                <div class="intro-about">
                    Fresh learner which don't know what we should do to start their
                    journey that type learner can take guidance form here on topic also get information
                    about when we can use the information and why we are learning this, these type of question can
                    be
                    answere over here. also Game which can be provide little relief for stress.
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="title">Content we have ?</div>

        <div class="start">
            <div class="image"></div>
            <div class="content">
                <div class="name">Game</div>
                <div class="about">
                    <div class="theory">
                        Fast and quick games which player can select to play
                    </div>
                    <button class="submit"><a href="/views/migame.ejs">Move</a></button>
                </div>
            </div>
            <div class="line-mark"></div>
        </div>

        <div class="cal">
            <div class="line-mark"></div>
            <div class="content">
                <div class="name">Coding Sites</div>
                <div class="about">
                    <div class="theory">
                        Quick access to all competitative programming platfrom for new coding programmer
                    </div>
                    <button class="submit"><a href="/views/path.ejs">Move</a></button>
                </div>
            </div>
            <div class="cal-image"></div>
        </div>

    </section>

    <div class="center">Copyright &copy; Journey All rights reserved!</div>
</body>

</html>